<div class="card flex w-[384px] h-[310px] filter drop-shadow-lg m-6 rounded-lg overflow-hidden">
  <img
    src="{{ book != undefined ? book : 'assets/imagens/capa-indisponivel.png' }}"
    alt="Capa do livro"
    class="min-w-[198px] h-full object-cover" />

  <div class="info-card p-4 bg-white flex flex-col justify-between">
    <div>
      <p class="titulo font-poppins font-semibold text-xl leading-6 text-[#6C63FF] mb-2">{{ book }}</p>
      <p class="informacoes font-poppins font-semibold text-lg leading-5 text-[#8B8B8B]">Autoria:</p>
      <p class="resultado font-poppins font-normal text-lg leading-5 text-[#444444] mb-2">{{ book }}</p>
      <p class="informacoes font-poppins font-semibold text-lg leading-5 text-[#8B8B8B]">Data de publicação:</p>
      <p class="resultado font-poppins font-normal text-lg leading-5 text-[#444444] mb-2">{{ book }}</p>
      <p class="informacoes font-poppins font-semibold text-lg leading-5 text-[#8B8B8B]">Editora:</p>
      <p class="resultado font-poppins font-normal text-lg leading-5 text-[#444444]">{{ book }}</p>
    </div>

    <button class="bg-[#6C63FF] w-full h-[40px] rounded-lg font-poppins font-semibold text-lg text-white border-none cursor-pointer hover:bg-[#050C42] transition duration-300">Mais detalhes</button>
  </div>
</div>

<div *ngIf="modalOpen">
  <app-book-modal [book]="book" (modalChange)="onModelChange($event)"></app-book-modal>
</div>
