<header class="bg-[#050C42] h-16 w-full flex items-center justify-between px-6 font-poppins">
  <button class="cursor-pointer border-none" (click)="redirectToHome()">
    <h1 class="text-3xl text-white font-bold transition duration-300 hover:text-[#6C63FF]">MyBooksHub</h1>
  </button>
  <div class="flex space-x-6">
    <a href="https://github.com/JKevyn" target="_blank" class="text-white no-underline font-normal text-[18px] leading-[27px] transition duration-300 hover:text-[#6C63FF]">Sobre</a>
    <a href="https://www.linkedin.com/in/kevyn-dev/" target="_blank" class="text-white no-underline font-normal text-[18px] leading-[27px] transition duration-300 hover:text-[#6C63FF]">Contato</a>
  </div>
</header>
